.wrap{
    margin: 0 auto;
}

.header_wrap {
    max-width: 1400px;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    
}


.logo {
    margin-top: 25px;
}

.nav {
    text-align: center;
    font-weight: 700;
    color: #252525;
    
}

.gnb {
    width: 840px;
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
   
}

.gnb > li > a:hover {
    color: #C9151E;
    width: 140px;
}




.sub_nav {
    font-size: 16px;
    font-weight: 400;
    margin-top: 27px;
    background-color: rgb(255, 255, 255);
    width: 140px;
    height: 0;
    border: 1px solid #eeeeee;
    overflow: hidden;
    transition-duration: 0.5s;
    opacity: 0;
    position: relative;
    z-index: 54;
    
}


 /* .gnb>li:hover .sub_nav {
    height: 250px;
    opacity: 1;
} */
 
.sub_nav > li {
    padding-top: 8px;
}

.sub_nav > li:hover {
    color: #C9151E;
    cursor: pointer;
}

.header_btn {
    margin-top: 25px;
    font-size:16px;
    font-weight: 600;
    display: flex;
    cursor: pointer;
    
}

.header_btn p {
    padding-right: 10px;
    line-height: 30px;
}

.header_btn > .fa-solid {
    font-size: 26px;
    line-height: 33px;
}

/* <!-- -----------------------------------header end   header end  header end  header end  header end--------------------------------------------- --> */

.side_tap {
    width: 70px;
    height: 270px;
    z-index: 65;
    background-color: #C9151E;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    right: 3%;
    color: white;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tap_1 p{
    padding-top: 5px;
    line-height: 16px;
}

.tap_2 p{
    padding-top: 5px;
}

.tap_3 p{
    line-height: 16px;
}

.tap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}


/* side tap end */

/* side tap menu */

.gnb_sub_menu {
    width: 100%;
    background-color: #ffffff;
    height: 320px;
    position: fixed;
    top: -300px;
    left: 0;
    z-index: 50;
    padding-left: 267px;
    transition-duration: 0.5s;
    
}

.gnb_sub_menu_wrap {
    text-align: center;
    display: flex;
    width: 1000px;
    padding-top: 90px;
    margin: 0 auto;
    /* position: absolute;
    top: 0;
    left: 0; */
}

.gnb_sub_menu_pc_6 {
    border-right: 1px solid #eeeeee;
}



.gnb_sub_menu_pc {
    width: 140px;
    border-left: 1px solid #eeeeee;
}

.gnb_sub_menu_pc li {
    margin-top: 5px;
    cursor: pointer;
}

.gnb_sub_menu_pc li:hover {
    color: #C9151E;
}

.gnb > li:hover + .gnb_sub_menu {
    top: 0;
}



/* side tap menu */



video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* ------------------------sec_1 end   sec_1 end   sec_1 end   sec_1 end   sec_1 end--------------------------- */

.section_2 {
    width: 100%;
    background-color: #F5F5F5;
}

.sec_2_wrap {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.sec_2_text {
    padding-top: 160px;
}

.sec_2_text h1 {
    font-size: 50px;
    font-weight: 900;
}

.sec_2_icon {
    position: absolute;
    top: 80%;
    left: 50%;
    z-index: 31;
    color: white;
    display: flex;
    font-weight: 700;
    font-size: 17;
    transform: translate(-50% , 0);
}

.sec_2_icon i {
    line-height: 28px;
    padding-left: 10px;
}

.sec_2_text p {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 50px;
}

.only_mo {
    display: none;
}

.sec_2_con h2 {
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 31;
    font-size: 34px;
    font-weight: 900;
    color: white;
    transform: translate(-50% , 0);
}

.sec_2_con_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 160px;
}

.sec_2_con {
    width: 262px;
    height: 458px;
    position: relative;
    overflow: hidden;
}


.opacity {
    background-color: rgba(0, 0, 0, 0.200);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    transition-duration: 0.3s;
}

/* .sec_2_con:hover .opacity {
    background-color: rgba(0, 0, 0, 0.500);
} */




.img{
    position: absolute;
    top: 0;
    left: 0;
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
}

/* .sec_2_con:hover .img {
    transform: scale(1.1);
} */




.img_1{
    background-image: url(../img/SEC_2/con1.png);
}

.img_2{
    background-image: url(../img/SEC_2/con2.png);
}

.img_3{
    background-image: url(../img/SEC_2/con3.png);
}

.img_4{
    background-image: url(../img/SEC_2/con4.png);
}

.img_5{
    background-image: url(../img/SEC_2/con5.png);
}

/* sec2 end */

.section_3{
    position: relative;
}

.section_3 video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
}



.sec_3_text_wrap {
    max-width: 1400px;
    width: 100%;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 12;
    transform: translate(-50%,-50%);
}

.sec_3_text_wrap h3 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1px;
    padding-bottom: 10px;
}

.sec_3_text_wrap h1 {
    font-size: 72px;
    font-weight: 300;
    letter-spacing: -2px;
    padding-bottom: 30px;
    line-height: 90px;
}

.sec_3_pcSpan {
    font-weight: 700;
}

.sec_3_icon {
    display: flex;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 20px;
    letter-spacing: -1px;
    /* cursor: pointer; */
}

.sec_3_icon p {
    cursor: pointer;
}

.sec_3_icon i {
    padding-left: 17px;
    line-height: 41px;
    cursor: pointer;
}


.sec_3_mo {
    display: none;
}

/* sec_3_end */

.section_4 {
    background-color: #F5F5F5;
}

.sec_4_wrap {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.sec_4_tit {
    padding-top: 130px;
    padding-bottom: 50px;
}


.sec_4_tit h2 {
    font-size: 34px;
    font-weight: 400;
}

.sec_4_tit h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -2px;
}

.sec_4_br {
    display: none;
}

.sec_4_con_wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 130px;
}

.sec_4_con_wrap .con{
    width: 690px;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.sec_4_l_con {
    height: 511px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sec_4_con_wrap .con_3 {
    height: 511px;
}

.sec_4_text_wrap {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sec_4_opacity {
    background-color: rgba(37, 37, 37, 0.507);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.sec_4_gradation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
    opacity: 0;
}

.sec_4_con_wrap .con_1 .sec_4_gradation {
 background: linear-gradient(to right, #610a0eef, #650b1000);
}

.sec_4_con_wrap .con_2 .sec_4_gradation {
    background: linear-gradient(to right, #005780, #004b6e00);
}

.sec_4_text_wrap h3 {
    font-size: 36px;
    font-weight: 700;
}

.sec_4_text_wrap > p {
    font-size: 22px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 50px;
} 



.con_bg {
    
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
}

.sec_4_img1 {
    background-image: url(../img/SEC_4/con1.png);
}

.sec_4_img2 {
    background-image: url(../img/SEC_4/con2.png);
}

.sec_4_img3 {
    background-image: url(../img/SEC_4/con3.png);
}

.sec_4_icon {
    display: flex;
    font-size: 18px;
}

.sec_4_icon i {
    line-height: 32px;
    padding-left: 10px;
    cursor: pointer;
}

.sec_4_icon p {
    cursor: pointer;
}


/* sec_4 end */

footer{
    background-color: #DFDFDF;
    width: 100%;
    font-size: 15px;
    color: #747474;
}

.footer_wrap {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.top_footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.top_footer_text a {
    display: flex;
}

.top_footer_text a li {
    margin-left: 30px;
    font-weight: 700;
}

.bottom_footer {
    font-weight: 400;
    line-height: 25px;
}

.footer_mo {
    display: none;
}

.copy {
    padding-top: 10px;
}

@media (min-width: 1260px) {
    .sec_2_con:hover .opacity {
        background-color: rgba(0, 0, 0, 0.500);
    }

    .sec_2_con:hover .img {
        transform: scale(1.1);
    }

    .sec_4_con_wrap .con_1:hover .sec_4_gradation{
        opacity: 1;
    }

    .sec_4_con_wrap .con_2:hover .sec_4_gradation{
        opacity: 1;
    }

    .sec_4_con_wrap .con:hover .con_bg {
        scale: 1.1;
    } 



}

@media all and (max-width: 1400px){

    /* animation */


    /* .mov_icon:hover body i {
        left: 0;
        animation-name: icon_moving;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-delay: 0.3s;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(0.69, 0.12, 0.18, 0.99);
        animation-fill-mode: forwards;
    }

    @keyframes icon_moving {
        from {
            left: 0;
        }
        to {
            left: 15px;
        }
    } */


    /* animation */
 
    .header_wrap {
        width: 95%;
    }
    

    /* header end */

    .sec_2_con {
        width: 235px;
        height: 408px;
    }

    .sec_2_wrap {
        width: 95%;
    }


    /* sec_2_end */

    .sec_3_text_wrap {
        width: 95%;
    }

    /* sec_3_end */

    .sec_4_wrap {
        width: 95%;
    }

    .sec_4_con_wrap .con{
        width: 46vw;
        height: 231px;
    }

    .sec_4_con_wrap .con_3 {
        height: 474px;
    }

    .sec_4_l_con {
        height: 474px;
    }

    /* sec_4 end */

    .footer_wrap {
        width: 95%;
    }
    
}




@media all and (max-width: 1260px){
 
    .header_wrap {
        width: 90%;
    }
    
    .gnb {
        display: none;
    }

    .side_tap {
        top: 45%;
        right: 3%;
    }

    .gnb_sub_menu {
        display: none;
    }

    /* header end */
    
    .sec_2_wrap {
        width: 90%;
    }

    .sec_2_con h2 {
        font-weight: 700;
    }

    .sec_2_con_wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 160px;
    }

    .sec_2_con {
        width: 100%;
        height: 365px;
        margin-top: 15px;
    }

    .opacity {
        background-color: rgba(0, 0, 0, 0.500);
    }

    .img_1{
        background-image: url(../img/SEC_2/con1_mo.png);
    }
    
    .img_2{
        background-image: url(../img/SEC_2/con2_mo.png);
    }
    
    .img_3{
        background-image: url(../img/SEC_2/con3_mo.png);
    }
    
    .img_4{
        background-image: url(../img/SEC_2/con4_mo.png);
    }
    
    .img_5{
        background-image: url(../img/SEC_2/con5_mo.png);
    }

    .sec_2_icon {
        display: none;
    }

    .sec_2_con h2 {
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }
    

    /* sec_2_end */

    .sec_3_text_wrap {
        width: 90%;
    }

    .sec_3_text_wrap h1 {
        font-size: 51px;
        line-height: 65px;
        padding-bottom: 20px;
    }

    /* sec_3_end */

    .sec_4_con_wrap {
        flex-direction: column;
    }

    .sec_4_wrap {
        width: 90%;
    }

    .sec_4_con_wrap .con{
        max-width: 1080px;
        width: 100%;
        height: 345px;
    }

    .sec_4_l_con {
        height: 710px;
    }

    .sec_4_con_wrap .con_3 {
        height: 390px;
        padding-top: 20px;
    }

    /* sec_4_end */

    .footer_wrap {
        width: 90%;
    }
    
    
}

@media all and (max-width: 760px){
 
    .logo {
        margin-top: 20px;
        /* transform: scale(0.9); */
        /* scale: 0.9; */
    }

    .logo img {
        width: 90%;
    }
    
    .header_wrap {
        height: 60px;
        width: 95%;
    }

    .header_btn {
        margin-top : 15px;
        font-size: 18px;  
    }

    .header_btn p {
        padding-right: 8px;
        display: none;
    }
    
    .header_btn > .fa-solid {
        line-height: 28px;
    }


    /* header end */

    .side_tap {
        width: 60px;
        height: 220px;
        top: 40%;
        right: 2%;
        font-size: 12px;
        padding-top: 13px;
        padding-bottom: 13px;
    }
    
    .tap_1 p{
        padding-top: 3px;
        line-height: 16px;
    }

    .tap_2 {
        padding-top: 7px;
    }
    
    .tap_2 p{
        padding-top: 3px;
    }
    
    .tap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* sec_1_end */

    .sec_2_wrap {
        width: 95%;
    }

    

    .sec_2_con {
        width: 100%;
        height: 180px;
        margin-top: 10px;
    }

    .sec_2_text {
        padding-top: 100px;
    }

    .sec_2_text h1 {
        font-size: 34px;
    }

    .only_mo {
        display: block;
    }

    .sec_2_text p {
        font-size: 16px;
        padding-bottom: 30px;
        font-weight: 500;
    }

    

    .sec_2_con_wrap {
        padding-bottom: 100px;
    }

    .sec_2_con h2 {
        font-size: 26px;
    }

    /* sec_2_end */

    .sec_3_text_wrap {
        top: 65%;
    }

    .sec_3_text_wrap {
        width: 95%;
    }

    .sec_3_text_wrap h3 {
        font-size: 21px;
    }
    

    .sec_3_text_wrap h1{
        display: none;
    }

    .sec_3_mo {
        display: block;
        font-size: 32px;
    }

    .sec_3_icon {
        font-size: 18px;
        padding-bottom: 0;
        padding-top: 10px;
    }

    .mo_icon {
        padding-top: 30px;
    }
    
    .sec_3_icon i {
        padding-left: 13px;
        line-height: 30px;
        
    }

    /* sec_3_end */

    .sec_4_wrap {
        width: 95%;
    }

    .sec_4_tit {
        padding-bottom: 40px;
    }

    .sec_4_br {
        display: block;
    }

    .sec_4_PCbr {
        display: none;
    }

    .sec_4_tit h2 {
        font-size: 20px;
        font-weight: 500;
    }

    .sec_4_tit h1 {
        font-size: 34px;
        padding-top: 10px;
    }

    .sec_4_text_wrap {

        padding-left: 13px;
    }
    .sec_4_text_wrap h3 {
        font-size: 21px;
        font-weight: 700;
    }
    
    .sec_4_text_wrap > p {
        font-size: 17px;
        padding-bottom: 17px;
    } 

    .sec_4_icon {
        font-size: 15px;
    }
    
    .sec_4_icon i {
        line-height: 25px;
        padding-left: 10px;
    }

    .sec_4_con_wrap .con{
        max-width: 760px;
        width: 100%;
        height: 220px;
    }

    .sec_4_l_con {
        height: 450px;
    }

    .sec_4_con_wrap .con_3 {
        height: 230px;
        padding-top: 11px;
    }

    /* sec_4_end */

    .footer_wrap {
        width: 95%;
    }
    
    .top_footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 30px;
    }
    
    .top_footer_text a {
        display: flex;
        width: 260px;
        height: 48px;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    
    .top_footer_text a li {
        margin-left: 0px;
        font-weight: 700;
    }
    
    .bottom_footer {
        font-weight: 400;
        line-height: 25px;
    }
    
    .footer_mo {
        display: block;
    }

}


